# Web App Framework
Dash
Dash-Bootstrap-Components
Dash-Table

# Database
pymongo[srv]

# Blockchain
web3

# Environment
python-dotenv

# Image and PDF processing
Pillow
piexif
PyPDF2
reportlab

# AI and Multimedia Analysis
tensorflow
numpy
stegano

# Other
qrcode
python-magic-bin
Flask-Login
werkzeug
